body {
  max-width : 720px;
  background-color : black;
  font-family : monospace;
  display : grid;
  margin : auto;
  margin-top : 1em;
  margin-bottom : 2em;
}

main {
  border : 2px solid #272330;
  border-radius : 4px;
  padding : 1em;
  padding-top : 1.5em;
  background-color : rgb(224,224,224);
  color : rgb(97,97,97);
}

h1{
  color : #272330;
}

.aligncenter {
  text-align : center;
}

.marginauto {
    margin: 10px auto 20px;
    display: block;
}

.link {
  color : rgb(97,97,97);
  text-decoration : none;
}

.link:hover {
  color : rgb(33,33,33);
  text-decoration : none;
}

hr {
  border: 1.5px solid black;
}

p {
  padding-bottom : 0.5em;
  font-size : 14px;
}


footer {
  margin-top : 0.5em;
  border : 2px solid #272330;
  border-radius : 3px;
  padding : 1em;
  background-color : rgb(224,224,224);
  color : rgb(97,97,97);
  font-size : 13px;
}